*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
.externalNativeBuild

# app build artifacts
/app/build
/app/.cxx
/app/app-release.apk

# cli
/cli/node_modules

# example
/example/node_modules
/example/build/*.apk